<template name="Leaderboard">
	<ul>
		{{#each player}}
			<li class="player {{selectedClass}}">{{name}}: {{score}}</li>
		{{/each}}
	</ul>
	{{#if currentUser}}
		<div class="custom-buttons">
			{{#if showSelectedPlayer}}
				<input type="button" class="increment" value="Give 5 Points">
				<input type="button" class="decrement" value="Take 5 Points">
				<input type="button" class="remove" value="Remove Player">
				<br>
				<h3>Selected Player: {{showSelectedPlayer.name}}</h3>
			{{/if}}
		</div>
	{{/if}}
</template>
